# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.cache

# C extensions
*.so

# Distribution / packaging
.Python
dist/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Dev database
example_db
example_db-journal